*.iml
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
local.properties
.cxx
*.log
*.apk
*.aab
*.ap_
*.dex
bin/
gen/
out/
.navigation/
*.class
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
.DS_Store
Thumbs.db
*.swp
*~
~*
*.bak
*.orig
*.temp
/captures
.externalNativeBuild
.cxx
*.hprof
*.tgz
*.lz
plans/
.opencode/
.idea/
